.normal {
  border: none;
  background-color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}

.active {
  border: none;
  background-color: rgb(16, 163, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  border-radius: 4px;
}
